<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/registration-form.css" rel="stylesheet" />
    @*<link href="~/Content/aboutAnimation.css" rel="stylesheet" />*@
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/Slider-style.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("CSS",false)
</head>
<body>

    <div class="header-bar">
        <div class="logo">
            <img src="~/Images/logo.png" />
        </div>
        <div class="login">
            <a href="~/Account/Login">Login</a>
            <a id="header-about" href="#">About Us</a>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/SliderJS.js"></script>
<<<<<<< HEAD
    <script src="~/Scripts/register.js"></script>
    <script src="~/Scripts/animate.js"></script>
    <script>
    wow = new WOW(
      {
          animateClass: 'animated',
          offset: 100,
          callback: function (box) {
              console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
          }
      }
    );
    wow.init();
   
    </script>

=======
    @*<script src="~/Scripts/register.js"></script>*@
>>>>>>> origin/master
    <script>
       
    $(document).ready(function(){
        $('.pic').hover(function() {
            $(this).addClass('transition');

        }, function() {
            $(this).removeClass('transition');
        });
    });
    </script>
  
    @RenderSection("scripts", required: false)
</body>
</html>
